.Item-Display {
    background-color: #F59606;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 350px;
    align-self: center;
    text-align: center;
    justify-content: center;
    padding: 25px;
    gap: 25px;
    flex-wrap: wrap;
    border-radius: 20px;
    gap: 30px;
    
}

.Item-Details {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    height: 200px;
    width: 150px;
    color: #0569FF;
}

.product-image {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.Item {
    align-self: center;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    flex-direction: Column;
    background-color: #F59606;
    border-radius: 20px;
    
}

.Item-Image {
    border-radius: 20px;
    width: 140px;
    height: 140px
}

.Other-Products{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.Round-Button {
    background-color: #FAD861;
    color: #0569FF;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 55px;
    width: 110px;
    height: 110px;
    border: none;
}

.Nav-Bar{
    display: flex;
    flex-direction: row;
    gap: 65%;
    justify-content: space-evenly;
    margin-top: 15px;
}