.Item {
    align-self: center;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    flex-direction: Column;
    background-color: #F59606;
    border-radius: 20px;
    
}

.Item-Image {
    border-radius: 20px;
    width: 75px;
    height: 75px
}

.Item-container {
    display: flex;
    flex-direction: row;
    gap: 30px
    

}