.Basket-Contents {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60vh;
    height: 60vh;
    align-self: center;
    color: #0569FF;
    justify-items: center;
    margin: 20px;
}

.List-Item {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color:#F59606 ;
    margin: 10px 10px;
    
}

.Order-Button {
    font-family: 'Arial';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: 16;
    border-radius: 10;
    color: #0569FF;
    background-color:  #F59606;
  }

  .Input {
      margin: 10px;
  }