.Basket-Contents {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 75vh;
    height: 60vh;
    align-self: center;
    color: #0569FF;
    margin: 20px;
    overflow: scroll;
}

.List-Item {
    display: flex;
    background-color:#F59606 ;
    padding: 10px;
    width: 65vh;
    align-self: center;
}

.Order {
    font-family: 'Arial';
    font-style: 'normal';
    font-weight: 'bold';
    font-size: 16;
    border-radius: 10;
    color: #0569FF;
    background-color:  #F59606;
  }

  .Input {
      margin: 10px;
      width: 75vh;
      color: black;
  }